body
{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

@font-face
{
    font-family: title;
    src: url("title.ttf");
}

@font-face
{
    font-family: welcome;
    src: url("welcome.ttf");
}

header
{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1
{
    font-family: welcome, Georgia, Arial;
    font-size: 290%;
    text-align: center;
}

span
{
    font-family: title, Georgia, Arial;
    font-size: 200%;
}

h2
{
    font-family: welcome, Georgia, Arial;
    font-size: 220%;
    text-align: center;
}

#Login
{
    position: absolute;
    top: 55%;
    left: 42%;
}

#Register
{
    position: absolute;
    top: 55%;
    left: 58%;
}

.collapsible
{
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    font-family: welcome, Georgia, Arial;
    font-size: 220%;
    background-color: #CD5C5C;
    transform: translate(-50%, -50%);
    min-width: 10%;
}

.active, .collapsible:hover
{
    background-color: rgb(163, 79, 135);
}

.content
{
    display: none;
    text-align: center;
    overflow: hidden;
    position: absolute;
    top: 65%;
    left: 40%;
    font-family: welcome, Georgia, Arial;
    font-size: 220%;
}

.confirm
{
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    font-family: welcome, Georgia, Arial;
    font-size: 120%;
    background-color: #CD5C5C;
}   